<ion-header mode="ios">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Utama</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/avatar.png">
      </ion-avatar>
  
      <ion-label>
        <h4>
          <ion-icon name="call"></ion-icon>
          +60129211412
        </h4>
        <h4>
          <ion-icon name="mail"></ion-icon>
          sakinah@ikmlumut.mara.my
        </h4>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <table>
        <tbody>
          <tr>
            <td class="title">Nama</td>
            <td class="text">Sakinah binti Rameli</td>
          </tr>
          <tr>
            <td class="title">No. K/P</td>
            <td class="text">990211115188</td>
          </tr>
          <tr>
            <td class="title">No. Matrik</td>
            <td class="text">A1218</td>
          </tr>
          <tr>
            <td class="title">Staus</td>
            <td class="text">Aktif</td>
          </tr>
          <tr>
            <td class="title">Institusi</td>
            <td class="text">IKM Lumut</td>
          </tr>
          <tr>
            <td class="title">Kursus</td>
            <td class="text">Sijil Seni Bina</td>
          </tr>
        </tbody>
      </table>
    </ion-item>

    <ion-list-header>
      Maklumat Semester Terkini
    </ion-list-header>

    <ion-item>
      <table>
        <tbody>
          <tr>
            <td class="title">Semester</td>
            <td class="text">5</td>
          </tr>
          <tr>
            <td class="title">Jam Mata Kredit</td>
            <td class="text">18</td>
          </tr>
          <tr>
            <td class="title">Unit Beruniform</td>
            <td class="text">PALAPES</td>
          </tr>
          <tr>
            <td class="title">Mentor</td>
            <td class="text">Prof. Madya Mustafar bin Jamal</td>
          </tr>
          <tr>
            <td class="title">Penginapan</td>
            <td class="text">Kolej Kediaman Tun Fatimah</td>
          </tr>
        </tbody>
      </table>
    </ion-item>
  </ion-list>
</ion-content>
