<ion-header mode="ios">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Latihan Industri</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-label position="stacked">Nama Syarikat</ion-label>
      <ion-input value="MZ Network Sdn. Bhd." disabled></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Kod Syarikat</ion-label>
      <ion-input value="XXXXXX" disabled></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Tempoh Latihan</ion-label>
      <ion-input value="6 bulan" disabled></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Alamat</ion-label>
      <ion-textarea value="223, Lot 642, Jalan SS6/1" disabled></ion-textarea>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Poskod</ion-label>
      <ion-input value="47301" disabled></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Bandar</ion-label>
      <ion-input value="Subang Jaya" disabled></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Negeri</ion-label>
      <ion-input value="Selangor" disabled></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
