<ion-header mode="ios">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mohon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-label position="stacked">Nama</ion-label>
      <ion-input value=""></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Tarikh Lahir</ion-label>
      <ion-input value=""></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">IC/Passport</ion-label>
      <ion-input value=""></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">No. Tel</ion-label>
      <ion-input value=""></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Email</ion-label>
      <ion-input value=""></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Bangsa</ion-label>
      <ion-input value=""></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Jantina</ion-label>
      <ion-input value=""></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Agama</ion-label>
      <ion-input value=""></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Alamat</ion-label>
      <ion-input value=""></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Program</ion-label>
      <ion-input value=""></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Institusi</ion-label>
      <ion-input value=""></ion-input>
    </ion-item>
    
  </ion-list>

  <div class="ion-text-center">
    <ion-button color="primary">Buat Permohonan</ion-button>
  </div>
</ion-content>
