<ion-header mode="ios">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Jadual Kuliah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Jadual Kuliah Sesi Jan 2020
    </ion-list-header>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Isnin</ion-card-title>
        <ion-card-subtitle>8.00 pagi - 10.00 pagi</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        KOD001
        <p class="ion-no-margin">Bilik Kuliah 1</p>
        <p class="ion-no-margin">Pesyarah 1</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Selasa</ion-card-title>
        <ion-card-subtitle>8.00 pagi - 10.00 pagi</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        KOD002
        <p class="ion-no-margin">Bilik Kuliah 2</p>
        <p class="ion-no-margin">Pesyarah 2</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Rabu</ion-card-title>
        <ion-card-subtitle>12.00 pagi - 1.00 pagi</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        KOD003
        <p class="ion-no-margin">Bilik Kuliah 3</p>
        <p class="ion-no-margin">Pesyarah 3</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Jumaat</ion-card-title>
        <ion-card-subtitle>4.00 petang - 6.00 petang</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        KOD005
        <p class="ion-no-margin">Bilik Kuliah 5</p>
        <p class="ion-no-margin">Pesyarah 5</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
